<ws-dialog #questionDialog>
  <div class="dialog-wrapper">
      <div (click)="questionDialogTrigger.closeDialog()" class="dialog-close"></div>
      <div class="question-dialog-content">
        <ws-question-submit-compact></ws-question-submit-compact>
      </div>
  </div>
</ws-dialog>


<ws-image id="background" #background component="backgrounds">
  <div class="row">
    <div class="col webcast">
      <ws-webcast #webcast [autoplay]="true"></ws-webcast>
      <div class="question-button-container">
        <button
          class="ws-button question-button"
          #questionDialogTrigger="wsDialogTrigger"
          [wsDialogTriggerFor]="questionDialog">Send a question</button>
      </div>
    </div>
    <div class="col feed">
      <ws-questions-feed #feed></ws-questions-feed>
    </div>
  </div>
</ws-image>
