/* Brand colors */
$primary: #005481;
$accent: #FF7C00;

$player-bg-color: #000000;

/* All displays styles ("layout0")*/

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .col {
    flex: 1 0 100%;
  }
}


.video-js {
  position: relative;
  background: $player-bg-color;
  width: 100%;
  height: unset;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /*@include transition(all, 0.5s);
  @include box-shadow(#888888 2px 2px 10px);*/
}

.video-js .vjs-wsslides {
  position: relative;
  max-width: 100%;
  display: none;
}

.video-js .vjs-wsslides > .wsslides {
  position: relative;
  max-width: 100%;
  height: 0;
  //@include transition(all, 0.5s);
}

.video-js .vjs-wsslides > .wsslides > .wss-tech {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-js .vjs-tech {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  height: unset;
  //@include transition(all, 0.5s);
}

#background {
  display: block;
  width: 100%;
  height: 100%;
}

.question-button-container {
  text-align: center;
}
.dialog-wrapper {
  position: relative;

  .dialog-close {
    color: #ccc;
    position: absolute;
    top: 6px;
    right: 6px;
    &::after {
      content: 'X'
    }
  }
}
.question-dialog-content {
  width: 600px;
  padding: 25px;
}
.col.webcast {
  flex: 1 0 50%;
}
.col.feed {
  flex: 1 0 50%;
}

/* All screens layouts */

.layout1 {
  // Layout 1 is the same as layout 0.
}

.layout2, .layout3 {
  .video-js {
    .vjs-tech {
      flex: 0 1 50%;
    }
    .vjs-wsslides {
      display: block;
      flex: 0 1 50%;
    }
  }
}

.layout4, .layout5 {
  .video-js {
    .vjs-tech {
      flex: 0 1 30%;
    }
    .vjs-wsslides {
      display: block;
      flex: 0 1 70%;
    }
  }
}

/* Displays */

/* XSmall displays */
@media screen and (max-width: 599px) {
  .layout2 {
    .video-js {
      flex-direction: column;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
  .layout3 {
    .video-js {
      flex-direction: column-reverse;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout4 {
    .video-js {
      flex-direction: column;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout5 {
    .video-js {
      flex-direction: column-reverse;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
}

/* Small displays */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .layout2 {
    .video-js {
      flex-direction: column;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
  .layout3 {
    .video-js {
      flex-direction: column-reverse;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout4 {
    .video-js {
      flex-direction: column;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout5 {
    .video-js {
      flex-direction: column-reverse;

      .vjs-tech {
        width: 100%;
      }
      .vjs-wsslides {
        width: 100%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
}

/* Medium displays */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .layout2 {
    .video-js {
      flex-direction: row;

      .vjs-tech {
        width: 50%;
      }
      .vjs-wsslides {
        width: 50%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
  .layout3 {
    .video-js {
      flex-direction: row-reverse;

      .vjs-tech {
        width: 50%;
      }
      .vjs-wsslides {
        width: 50%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout4 {
    .video-js {
      flex-direction: row;

      .vjs-tech {
        width: 30%;
      }
      .vjs-wsslides {
        width: 70%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout5 {
    .video-js {
      flex-direction: row-reverse;

      .vjs-tech {
        width: 30%;
      }
      .vjs-wsslides {
        width: 70%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
}

/* Large displays */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .layout2 {
    .video-js {
      flex-direction: row;

      .vjs-tech {
        width: 50%;
      }
      .vjs-wsslides {
        width: 50%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
  .layout3 {
    .video-js {
      flex-direction: row-reverse;

      .vjs-tech {
        width: 50%;
      }
      .vjs-wsslides {
        width: 50%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout4 {
    .video-js {
      flex-direction: row;

      .vjs-tech {
        width: 30%;
      }
      .vjs-wsslides {
        width: 70%;

        .wsslides{
          padding-top: 75%;
        }
      }
    }
  }

  .layout5 {
    .video-js {
      flex-direction: row-reverse;

      .vjs-tech {
        width: 30%;
      }
      .vjs-wsslides {
        width: 70%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
}

/* XLarge displays */
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .layout2 {
    .video-js {
      flex-direction: row;

      .vjs-tech {
        width: 50%;
      }
      .vjs-wsslides {
        width: 50%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
  .layout3 {
    .video-js {
      flex-direction: row-reverse;

      .vjs-tech {
        width: 50%;
      }
      .vjs-wsslides {
        width: 50%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout4 {
    .video-js {
      flex-direction: row;

      .vjs-tech {
        width: 30%;
      }
      .vjs-wsslides {
        width: 70%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }

  .layout5 {
    .video-js {
      flex-direction: row-reverse;

      .vjs-tech {
        width: 30%;
      }
      .vjs-wsslides {
        width: 70%;

        .wsslides {
          padding-top: 75%;
        }
      }
    }
  }
}


/*
  Video Player Skin for Video.js
  http://videojs.com

  To customize the player skin edit
  the CSS below. Click "details"
  below to add comments or questions.
  This file uses some SCSS. Learn more
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  https://codepen.io/heff/pen/EarCt/left/?editors=010
*/

// The following are SCSS variables to automate some of the values.
// But don't feel limited by them. Change/replace whatever you want.

// The color of icons, text, and the big play button border.
// Try changing to #0f0
$primary-foreground-color: #fff; // #fff default

// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: $primary;  // #2B333F default

// Try changing to true
$center-big-play-button: true; // true default

.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 10px;

  /* The main font color changes the ICON COLORS as well as the text */
  color: $primary-foreground-color;
}

/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.video-js .vjs-big-play-button {
  /* The font size is what makes the big play button...big.
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
  font-size: 3em;

  /* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
  $big-play-width: 3em;
  /* 1.5em = 45px default */
  $big-play-height: 1.5em;

  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;

  /* 0.06666em = 2px default */
  border: 0.06666em solid $primary-foreground-color;
  /* 0.3em = 9px default */
  border-radius: 0.3em;

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);
  } @else {
    /* Align top left. 0.5em = 15px default */
    left: 0.5em;
    top: 0.5em;
  }
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: $primary-background-color;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba($primary-background-color, 0.7);
}

// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: $accent; // default: lighten($primary-background-color, 33%);

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 25%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.5);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 50%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.75);
}

