<!--ws-webcast-container-->
<div class="page-container">
    <div class="page-content">
        <ws-image class="header" component="headers"></ws-image>
        <div class="webcast-wrapper">
            <ws-webcast class="webcast" [autoplay]="true"></ws-webcast>
            <ws-questions-feed class="feed"></ws-questions-feed>
        </div>
    </div>
    <ws-image class="footer" component="footers">
        <button class="button" #questionDialogTrigger="wsDialogTrigger"
                [wsDialogTriggerFor]="questionDialog">{{'QUESTIONS_BUTTON' | wsTranslate: 'Ask a question'}}</button>
        <button class="button" #downloadsDialogTrigger="wsDialogTrigger"
                [wsDialogTriggerFor]="downloadsDialog">{{'DOWNLOADS_BUTTON' | wsTranslate: 'Download resources'}}</button>
    </ws-image>
</div>

<!-- Dialogs -->
<ws-dialog #questionDialog>
    <div class="dialog-wrapper">
        <i (click)="questionDialogTrigger.closeDialog()" class="ws close dialog-close"></i>
        <div class="question-dialog-content">
            <ws-question-submit-compact></ws-question-submit-compact>
        </div>
    </div>
</ws-dialog>

<ws-dialog #downloadsDialog>
    <div class="dialog-wrapper">
        <div (click)="downloadsDialogTrigger.closeDialog()" class="dialog-close"></div>
        <h4>Downloads</h4>
        <ul>
            <li *ngFor="let file of manifest.downloads[manifest.language.code]">
                <a [href]="file.url" target="_blank">{{file.title}}</a>
            </li>
        </ul>
    </div>
</ws-dialog>
<!--/ws-webcast-container-->
