/* Brand colors */
$primary: #005481;
$accent: #BD0524;
$player-bg-color: #CCCCCC;

/* Text colors */
$icon-text-color: #ccc;

/* Other variables */
$footer-buttons-color: #fffefe;

/** CSS Icons **/
.ws.close {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $icon-text-color;
  }

  &::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/* All displays styles ("layout0")*/
body {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	margin: 0;
}

.page-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

/* Application shell */

.page-content {
	flex: 1 100%;
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: stretch;
}

.footer {
	flex: 0 0 50px;
	width: 100%;
	display: flex !important;
	align-items: center;
	.button {
		border: none;
		border-right: 1px solid $footer-buttons-color;
		background: transparent;
		padding: 1px 10px 2px 10px;
		line-height: 20px;
		font-size: 14px;
		font-weight: 300;
		cursor: pointer;
		color: $footer-buttons-color;
	}
}

.header {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  height: 10vw;
	flex: 0 0 auto;
}

.webcast-wrapper {
	flex: 1 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	.webcast {
		flex: 0 0 100%;
	}
	.feed {
		display: none;
	}
}
.dialog-wrapper {
	padding: 24px 24px 16px 16px ;
	min-width: 600px;
	min-height: 300px;
	position: relative;

	.dialog-close {
		position: absolute;
		top: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
	}
}

.video-js {
	position: relative;
	background: $player-bg-color;
	width: 100% !important;
	height: auto !important;
	height: unset !important;
	max-width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	/*@include transition(all, 0.5s);
  @include box-shadow(#888888 2px 2px 10px);*/
}

.video-js .vjs-wsslides {
	position: relative;
	max-width: 100%;
	display: none;
}

.video-js .vjs-wsslides > .wsslides {
	position: relative;
	max-width: 100%;
	height: 0;
	//@include transition(all, 0.5s);
}

.video-js .vjs-wsslides > .wsslides > .wss-tech {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.video-js .vjs-tech {
	position: relative;
	flex: 1 1 100%;
	max-width: 100%;
	height: auto;
	height: unset;
	//@include transition(all, 0.5s);
}

.ws-questions-feed {
	overflow: auto;
	position: relative;
	height: 100%;

	.questions-list {
		padding: 0 0 6px 8px;

		.question-container {
			background-color: #fff;
			padding: 8px 8px 2px 8px;
			margin: 1px 0;
		}
	}
}

/* All screens layouts */
.layout1 {
	// Layout 1 is the same as layout 0.
}

.layout2, .layout3, .layout6, .layout7 {
	.video-js {
		.vjs-tech {
			flex: 0 1 50%;
		}
		.vjs-wsslides {
			display: block;
			flex: 0 1 50%;
		}
	}
}

.layout4, .layout5, .layout8, .layout9 {
	.video-js {
		.vjs-tech {
			flex: 0 1 35%;
		}
		.vjs-wsslides {
			display: block;
			flex: 0 1 65%;
		}
	}
}

.layout10 {
	.webcast-wrapper {
		.webcast {
			flex: 0 1;
		}
		.feed {
			display: block;
			flex: 1 0;

			.questions-list{
				font-size: 14px;
			}
		}
	}
}
/* Displays */
/* XSmall displays */
@media screen and (max-width: 599px) {
	.dialog-wrapper {
		min-width: 300px;
	}
	.layout2, .layout3, .layout4, .layout5 {
		.video-js {
			flex-direction: column;
			.vjs-tech {
				width: 100%;
			}
			.vjs-wsslides {
				width: 100%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout6,	.layout7, .layout8, .layout9 {
		.video-js {
			flex-direction: column;
			.vjs-tech {
				width: 100%;
			}
			.vjs-wsslides {
				width: 100%;
				.wsslides {
					padding-top: 56.75%;
				}
			}
		}
	}

	.layout10 {
		.webcast-wrapper {
			align-items: normal;
			.webcast {
				flex: 0 1;
			}
			.feed {
				display: block;
				flex: 1 0;
			}
		}
	}
}

/* Small displays */
@media screen and (min-width: 600px) and (max-width: 959px) {
	.dialog-wrapper {
		min-width: 450px;
	}

	.layout2, .layout3, .layout4, .layout5 {
		.video-js {
			flex-direction: column;
			.vjs-tech {
				width: 100%;
			}
			.vjs-wsslides {
				width: 100%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout6,	.layout7,	.layout8,	.layout9 {
		.video-js {
			flex-direction: column;
			.vjs-tech {
				width: 100%;
			}
			.vjs-wsslides {
				width: 100%;
				.wsslides {
					padding-top: 56.75%;
				}
			}
		}
	}

	.layout10 {
		.webcast-wrapper {
			align-items: normal;
			.webcast {
				flex: 0 1;
			}
			.feed {
				display: block;
				flex: 1 0;
			}
		}
	}
}

/* Medium displays */
@media screen and (min-width: 960px) and (max-width: 1279px) {
	.page-container {
		.webcast-wrapper {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;

			.webcast {
				flex: 0 0 90%;
			}
		}
	}

	.layout1 {
		.webcast-wrapper {
			justify-content: center;
			.webcast{
				flex: 0 0 75%;
			}
		}
	}

	.layout2 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout3 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout4 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}
	.layout5 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout6 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout7 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout8 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout9 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout10 {
		.webcast-wrapper {
			align-items: flex-start;
			.webcast {
				flex: 1 1;
			}
			.feed {
				display: block;
				flex: 1 1;
				.questions-list{
					font-size: 12px;
					min-height: 300px;
					.question-body, .answer-body{
						margin-top: 4px;
						margin-bottom: 8px;
					}

				}
			}
		}
	}
}

/* Large displays */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
	.page-container {
		.webcast-wrapper {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;

			.webcast {
				flex: 0 0 90%;
			}
		}
	}
	.layout1 {
		.webcast-wrapper {
			justify-content: center;
			.webcast{
				flex: 0 0 72%;
			}
		}
	}

	.layout2 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout3 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout4 {
    .webcast-wrapper {
      .webcast {
        flex: 0 0 80%;
      }
    }
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}
	.layout5 {
    .webcast-wrapper {
      .webcast {
        flex: 0 0 80%;
      }
    }
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout6 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout7 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout8 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout9 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}
	.layout10 {
		.webcast-wrapper {
			align-items: flex-start;
			.webcast {
				flex: 1 1;
			}
			.feed {
				display: block;
				flex: 1 1;
				.questions-list {
					font-size: 12px;
					min-height: 300px;
					.question-body, .answer-body{
						margin-top: 4px;
					}
				}
			}
		}
	}
}
/* XLarge displays */
@media screen and (min-width: 1920px) and (max-width: 5000px) {
	.page-container {
		.webcast-wrapper {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;

			.webcast {
				flex: 0 0 90%;
			}
		}
	}

	.layout1 {
		.webcast-wrapper {
			justify-content: center;
			.webcast{
				flex: 0 0 68%;
			}
		}
	}

	.layout2 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout3 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout4 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}
	.layout5 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 75%;
				}
			}
		}
	}

	.layout6 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout7 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 50%;
			}
			.vjs-wsslides {
				width: 50%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout8 {
		.video-js {
			flex-direction: row;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}

	.layout9 {
		.video-js {
			flex-direction: row-reverse;
			.vjs-tech {
				width: 35%;
			}
			.vjs-wsslides {
				width: 65%;
				.wsslides {
					padding-top: 56.25%;
				}
			}
		}
	}
	.layout10 {
		.webcast-wrapper {
			align-items: flex-start;
			.webcast {
				flex: 1 1;
			}
			.feed {
				display: block;
				flex: 1 1;
				.questions-list {
					min-height: 300px;
					font-size: 12px;
					.question-body, .answer-body{
						margin-top: 4px;
					}
				}
			}
		}
	}
}

/*
Video Player Skin for Video.js
http://videojs.com

To customize the player skin edit
the CSS below. Click "details"
below to add comments or questions.
This file uses some SCSS. Learn more
at http://sass-lang.com/guide)

This designer can be linked to at:
https://codepen.io/heff/pen/EarCt/left/?editors=010
*/
// The following are SCSS variables to automate some of the values.
// But don't feel limited by them. Change/replace whatever you want.
// The color of icons, text, and the big play button border.
// Try changing to #0f0
$primary-foreground-color: #fff; // #fff default
// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: $primary;
// #2B333F default
// Try changing to true
$center-big-play-button: true; // true default

.video-js {
	/* The base font size controls the size of everything, not just text.
    All dimensions use em-based sizes so that the scale along with the font size.
    Try increasing it to 15px and see what happens. */
	font-size: 10px;
	/* The main font color changes the ICON COLORS as well as the text */
	color: $primary-foreground-color;
}
/* The "Big Play Button" is the play button that shows before the video plays.
To center it set the align values to center and middle. The typical location
of the button is the center, but there is trend towards moving it to a corner
where it gets out of the way of valuable content in the poster image.*/
.video-js .vjs-big-play-button {
	/* The font size is what makes the big play button...big.
    All width/height values use ems, which are a multiple of the font size.
    If the .video-js font-size is 10px, then 3em equals 30px.*/
	font-size: 3em;
	/* We're using SCSS vars here because the values are used in multiple places.
    Now that font size is set, the following em values will be a multiple of the
    new font size. If the font-size is 3em (30px), then setting any of
    the following values to 3em would equal 30px. 3 * font-size. */
	$big-play-width: 3em;
	/* 1.5em = 45px default */
	$big-play-height: 1.5em;
	line-height: $big-play-height;
	height: $big-play-height;
	width: $big-play-width;
	/* 0.06666em = 2px default */
	border: 0.06666em solid $primary-foreground-color;
	/* 0.3em = 9px default */
	border-radius: 0.3em;
	@if $center-big-play-button {
		/* Align center */
		left: 50%;
		top: 50%;
		margin-left: -($big-play-width / 2);
		margin-top: -($big-play-height / 2);
	} @else {
		/* Align top left. 0.5em = 15px default */
		left: 0.5em;
		top: 0.5em;
	}
}
/* The default color of control backgrounds is mostly black but with a little
bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-big-play-button,
.video-js .vjs-control-bar,
.video-js .vjs-menu-button .vjs-menu-content {
	/* IE8 - has no alpha support */
	background-color: $primary-background-color;
	/* Opacity: 1.0 = 100%, 0.0 = 0% */
	background-color: rgba($primary-background-color, 0.7);
}
// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: $accent; // default: lighten($primary-background-color, 33%);
/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
	background-color: $slider-bg-color;
	background-color: rgba($slider-bg-color, 0.5);
}
/* The slider bar color is used for the progress bar and the volume bar
(the first two can be removed after a fix that's coming) */
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar,
.video-js .vjs-volume-level {
	background: $primary-foreground-color;
}
/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
	/* For IE8 we'll lighten the color */
	background: lighten($slider-bg-color, 25%);
	/* Otherwise we'll rely on stacked opacities */
	background: rgba($slider-bg-color, 0.5);
}
/* The load progress bar also has internal divs that represent
smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
	/* For IE8 we'll lighten the color */
	background: lighten($slider-bg-color, 50%);
	/* Otherwise we'll rely on stacked opacities */
	background: rgba($slider-bg-color, 0.75);
}
